.container {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  position: absolute;
}

.form {
  display: "flex";
  flex-direction: "column";
  gap: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.button {
  margin-top: 2px;
  align-self: "flex-start";
  margin-top: 8px;
}

.formElement {
  margin-bottom: 8px;
}

.formElementTwiceInput {
  text-align: left;
  margin-bottom: 8px;
}
.formElementTwiceButton {
  display: flex;
  align-items: center;
}
